<!-- Fond flouté -->
<div class="background-container"></div>

<!-- Formulaire d'inscription -->
<div class="container">
  <!-- Logo TGCC en haut -->
  <div class="logo-container">
    <img src="assets/images/tgcc.png" alt="Logo TGCC" class="logo-tgcc" />
  </div>

  <h2>Register</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom :</label>
      <input type="text" id="name" [(ngModel)]="registerRequest.nom" name="nom" required />
    </div>

    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" id="email" [(ngModel)]="registerRequest.email" name="email" required />
    </div>

    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" [(ngModel)]="registerRequest.motDePasse" name="motDePasse" required />
    </div>

    <div class="form-group">
      <label for="role">Rôle :</label>
      <select id="role" [(ngModel)]="registerRequest.role" name="role" required>
        <option value="OUVRIER">OUVRIER</option>
        <option value="SUPERVISEUR">SUPERVISEUR</option> 
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>

    <button type="submit">S'inscrire</button>
  </form>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>

  <div class="login-link">
    <p>Déjà inscrit ? <a routerLink="/login">Se connecter</a></p>
  </div>
</div>
